body {padding:0; margin:0;}

#test1 {
    display: grid;
    height: 100vh;
    position: absolute;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.start, .middle, .end {
    border: 1px solid #999;
    border-radius: 16px;
}

.middle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
}

#block1 {
    background-color: purple;
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 16px;
    cursor: pointer;
}
